<a href="https://colab.research.google.com/github/anamacao/analise_dados/blob/main/notebooks/An%C3%A1lise_dados_07_tratamento_de_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#seleção (filtragem de linhas específicas de um dataframe)
dataframe_01=pd.DataFrame({
    "região":["america do sul", "america do sul", "america do sul", "america do sul","africa","asia"],
    "estados":["brasil","argentina","uruguai","paraguai","angola","timor leste"],
    "idh":[0.754,0.842,0.809,0.724,0.574, 0.607]
                           })
dataframe_01

           região      estados    idh
0  america do sul       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            asia  timor leste  0.607

In [ ]:
região=dataframe_01["região"]=="asia"
região

0    False
1    False
2    False
3    False
4    False
5     True
Name: região, dtype: bool

In [ ]:
dataframe_01[região]

           região    estados    idh
0  america do sul     brasil  0.754
1  america do sul  argentina  0.842
2  america do sul    uruguai  0.809
3  america do sul   paraguai  0.724

In [ ]:
região=dataframe_01[dataframe_01["região"]=="asia"]
região

  região      estados    idh
5   asia  timor leste  0.607

In [ ]:
busca=dataframe_01["região"]!="africa"
dataframe_01[busca]

           região      estados    idh
0  america do sul       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
5            asia  timor leste  0.607

In [ ]:
busca=dataframe_01["idh"]<0.809
dataframe_01[busca]

           região      estados    idh
0  america do sul       brasil  0.754
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            asia  timor leste  0.607