<a href="https://colab.research.google.com/github/anamacao/analise_dados/blob/main/notebooks/An%C3%A1lise_dados_08_inserir_excluir_atualizar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np
import pandas as pd

In [32]:
#seleção (filtragem de linhas específicas de um dataframe)
dataframe_01=pd.DataFrame({
    "região":["america do sul", "america do sul", "america do sul", "america do sul","africa","asia"],
    "estados":["brasil","argentina","uruguai","paraguai","angola","timor leste"],
    "idh":[0.754,0.842,0.809,0.724,0.574, 0.607]
                           })
dataframe_01

           região      estados    idh
0  america do sul       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            asia  timor leste  0.607

In [33]:
novo = pd.DataFrame({
    "região":"africa",
    "estados":"moçambique",
    "idh": 0.446
},index=[0])
novo

   região     estados    idh
0  africa  moçambique  0.446

In [34]:
inserção = pd.concat([dataframe_01, novo],ignore_index=True,sort=False)
inserção

           região      estados    idh
0  america do sul       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            asia  timor leste  0.607
6          africa   moçambique  0.446

In [35]:
exclusão = inserção.drop([1,5])
exclusão

           região     estados    idh
0  america do sul      brasil  0.754
2  america do sul     uruguai  0.809
3  america do sul    paraguai  0.724
4          africa      angola  0.574
6          africa  moçambique  0.446

In [36]:
exclusão = exclusão.reset_index(drop=True)
exclusão

           região     estados    idh
0  america do sul      brasil  0.754
1  america do sul     uruguai  0.809
2  america do sul    paraguai  0.724
3          africa      angola  0.574
4          africa  moçambique  0.446

In [37]:
inserção.at[0,"região"]="AFRICA"

In [38]:
inserção

           região      estados    idh
0          AFRICA       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            asia  timor leste  0.607
6          africa   moçambique  0.446

In [40]:
inserção.loc[inserção["estados"]=="timor leste","região"]="ASIA"
inserção

           região      estados    idh
0          AFRICA       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            ASIA  timor leste  0.607
6          africa   moçambique  0.446

In [ ]:
#replace()